/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@media (max-width: 1224px){
	.socialicons{
		display: none;
	}
}
@media (max-width: 1024px){
	/*section 1*/
	.txt-box{
		font-size: 26px;
	}
	.banner-logo{
		width: 87px;
	}
	/*section 2*/
	.youtube{
		height: auto;
	}
	.video-box{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.video{
		margin-bottom: 30px;
	}
	/*section 3*/
	.section3{
		height: auto;
	}
	.rectangle{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.rect-img{
		margin-bottom: 30px;
	}
	/*section 4*/
	.section4{
		height: auto;
	}
	.articlesbox{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.article{
		margin-bottom: 30px;
	}
}
@media (max-width: 970px){
	/*header*/
	body{
		padding-top: 96px;
	}
	.header{
		padding: 20px 50px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.logo{
		width: 175px;
	}
	.navigation{
		display: none;
	}
	.bar-icon{
		display: block;
	}
}
@media (max-width: 768px){
	/*section 2*/
	.video-h{
		font-size: 22px;
	}
	/*section 3*/
	.section3{
		padding: 30px 50px;
	}
	.section3-h{
		font-size: 22px;
	}
	.image{
		width: 100%;
	}
	.childrect{
		font-size: 20px;
	}
	/*section 4*/
	.section4-h{
		font-size: 22px;
	}
	.article-h{
		font-size: 20px;
	}
	.articleimg{
		height: 110px;
		margin: 0 30px 30px 20px; 
	}
	.articlepar{
		font-size: 18px;
	}
	.readmore-txt{
		font-size: 14px;
		margin-top: 20px;
	}
}
@media (max-width: 480px){
	/*header*/
	body{
		padding-top: 90px;
	}
	.header{
		padding: 20px 40px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.logo{
		width: 155px;
	}
	/*section 1*/
	.txt-box{
		font-size: 22px;
		color: #ffff;
	}
	.banner-logo{
		width: 67px;
	}
	/*section 2*/
	.youtube{
		padding: 30px 45px;
	}
	.video-h{
		font-size: 20px;
	}
	.video{
		height: 200px;
	}
	/*section 3*/
	.section3-h{
		font-size: 20px;
	}
	.childrect{
		font-size: 18px;
	}
	/*section 4*/
	.section4{
		padding: 30px 50px;
	}
	.content{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	/*footer*/
	.footer{
 	padding: 20px 45px;
 	}
}
@media (max-width: 380px){
	/*header*/
	body{
		padding-top: 83px;
	}
	.header{
		padding: 20px 30px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.logo{
		width: 130px;
	}
	/*section 2*/
	.youtube{
		padding: 30px 45px;
	}
	/*section 3*/
	.section3{
		padding: 30px 45px;
	}
	/*section 4*/
	.section4{
		padding: 30px 45px;
	}
	/*footer*/
	.footer{
 	padding: 20px 35px;
 	}
}