/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body{
	padding-top: 103px;
}
.header{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 20px 100px;
	background-color: #FFFFFF;
	position: fixed;
	top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.list{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.nav-li{
	padding-right: 30px; 
}
.nav-a{
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 600;
	color: #3D58A6;
}
.bar-icon{
	font-size: 30px;
	color: #3D58A6;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: none;
}
.socialicons{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.soc-icons:hover{
	opacity: 0.6;
}
.socials::after{
	content: ' ';
	width: 2px;
	height: 27px;
	margin: 0 30px;
	display: inline-block;
	background-color: #363E97;
}
/*section #1*/
.section1{
	width: 100%;
	background-color: #E6E6E6;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding-top: 30px;
	padding-bottom: 30px;
	
}
.banner-block{
	position: relative;
}
.banner{
	max-width: 1170px;
	width: 100%;
}
.txt-box{
	position: absolute;
	font-family: 'Roboto', sans-serif;
	color: #E6E6E6;
	font-size: 30px;
	font-weight: 600;
	left: 30px;
	bottom: 20px;
}
.html-box{
	position: absolute;
	bottom: 30px;
	right: 30px;
}
/*section #2*/
.youtube{
	width: 100%;
	background-color: #363E97;
	padding: 30px 98px;
}
.video-box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
}
.video-h{
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
	font-size: 24px;
	margin-bottom: 30px;
}
.video{
	max-width: 570px;
	width: 100%;
	height: 320px;
	background-color: #F2F2F2;
	margin-right: 30px;
}
.youtube-video{
	width: 100%;
	height: 100%;
	border-width: 0px;
}
/*section #3*/
.section3{
	width: 100%;
	height: 450px;
	background-color: #BDCCD4;
	padding: 30px 98px;
}
.section3-h{
	font-family: 'Roboto', sans-serif;
	color: #3D58A6;
	font-size: 24px;
	margin-bottom: 30px;
}
.rectangle{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
}
.rect-img{
 	margin-right: 30px;
}
.image{
 	width: 100%;
 	display: block;
}
.childrect{
 	font-family: 'Roboto', sans-serif;
 	font-size: 22px;
 	background-color: #E6E6E6;
 	padding-top: 14px;
 	padding-left: 14px;
 	max-width: 270px;
 	width: 100%;
 	height: 60px;
}
/*section #4*/
.section4{
 	width: 100%;
 	background-color: #E6E6E6;
 	padding: 30px 98px;
}
.section4-h{
 	font-family: 'Roboto', sans-serif;
 	font-size: 24px;
 	margin-bottom: 30px;
}
.articlesbox{
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-box-pack: space-evenly;
 	    -ms-flex-pack: space-evenly;
 	        justify-content: space-evenly;
}
.article{
 	max-width: 570px;
 	width: 100%;
 	background-color: #F2F2F2;
 	padding: 10px 20px;
 	margin-right: 30px;
}
.article-h{
 	font-family: 'Roboto', sans-serif;
 	font-size: 22px;
 	color: #3D58A6;	
 	margin-bottom: 12px;
}
.content{
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-box-pack: justify;
 	    -ms-flex-pack: justify;
 	        justify-content: space-between;
 	-webkit-box-align: center;
 	    -ms-flex-align: center;
 	        align-items: center;
}
.articleimg{
 	height: 130px;
 	margin: 0 50px 30px 20px; 
}
.articlepar{
 	font-family: 'Roboto', sans-serif;
 	font-size: 20px;
 	color: #333333;
 	line-height: 24px;
}
.readmore-txt{
 	font-family: 'Roboto', sans-serif;
 	font-size: 14px;
 	color: #3D58A6;
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-box-pack: end;
 	    -ms-flex-pack: end;
 	        justify-content: flex-end;
}
/*footer*/
.footer{
 	padding: 20px 98px;
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-box-pack: justify;
 	    -ms-flex-pack: justify;
 	        justify-content: space-between;
}
.footerpar{
 	font-family: 'Roboto', sans-serif;
 	font-size: 12px;
 	color: #333333;
}